<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minesweeper game {{id}} ~ Lobby</title>
        <link rel="stylesheet" href="/css/team_lobby.css">
        <link rel="stylesheet" href="/css/game.css">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    </head>
    <body>
        <div id="teams">
            <div id="red_team">
                <div>Red team</div>
                <ul>

                </ul>
                <button class="set_team">Select this team</button>
            </div>
            <div id="no_team">
                <div>No team</div>
                <ul>

                </ul>
                <button class="set_team">Select this team</button>
            </div>
            <div id="blue_team">
                <div>Blue team</div>
                <ul>

                </ul>
                <button class="set_team">Select this team</button>
            </div>
        </div>
        <div id="status"></div>
        <div id="messages">
            <div id="message_control">
                <textarea id="message_text" placeholder="Please enter your message."></textarea>
                <div>
                    <span>Destination</span>
                    <select id="destination">
                        <option value="current">Current team</option>
                        <option value="all" selected>All</option>
                    </select>
                </div>
                <button id="send_message">Send message</button>
            </div>
        </div>
        <script>
            let game_id = "{{id}}";
        </script>
        <script src="/js/team_lobby.js"></script>
    </body>
</html>
