<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minesweeper lobby</title>
    </head>
    <body>
        <a href="/create-10-10-10">Create game</a>
    </body>
</html>
