td {
    width: 20px;
    height: 20px;
    padding: 0px;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
    background-color: silver;
    color: black;
}

img {
    margin: 0px;
    padding: 0px;
}

.discovered {
    background-color: gainsboro;
}

.mine {
    background-color: red;
}

.flagged {
    background-color: steelblue;
}
